* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: green;
  background-color: white;
  margin: 0 !important;
}
